html, body {
    margin:0;
    padding:0;
    overflow-x: hidden;

}


.landing-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    justify-content: center;
}

#myname {
    margin-top: 0;
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans';
    width: 100%
}



#about-para {
    padding-top: 60vh;
}



.about-section {
    margin-top: 20;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: auto;
}


.technologies-section {
    margin-top: 40;
    min-height: 100vh;
    width: 100%;
    margin: auto;
}

.another-section {
    min-height: 100vh;

}

@media (min-width: 860px) {
    #Layer_1 {
        width: 540px;
        height: 540px
    }

    #arrow {
        data-rellax-speed: -7;
    }
    #myname {
        font-size: 120px;
    }
    #mydesc {
        font-size: 20px;
    }
    
    .left-side {
        width: 65%;

        padding-top: 0vh;
        padding-left: 5vw;
        display: inline-block;
    }

    .right-side {
        width: 10%;
        padding-top: 0vh;
        padding-right: 10vw;
        display: inline-block;
    }

    #about-title {
        font-size: 50px;
    }

    #mydesc {
        font-size: 20px;
    }

    #meimg {
        height: 250px;
        width: 250px
    }

    #technologyword {
        font-size: 60px;
    }

    #reactpic {
        width: 210px;
        height: 170px;
    }

    #pythonpic {
        width: 150px;
        height: 150px
    }

    #jspic {
        width: 150px;
        height: 155px
    }

    #firebasepic {
        width: 145px;
        height: 165px
    }

    #nodepic {
        width: 175px;
        height: 175px
    }

    .technologyabout {
        height: 450px
    }
}

@media (max-width: 860px) {
    #Layer_1 {
        width: 360px;
        height: 360px
    }

    .left-side {
        width: 65%;

        padding-top: 0vh;
        padding-left: 5vw;
        display: inline-block;
    }

    .right-side {
        width: 10%;
        padding-top: 0vh;
        padding-right: 10vw;
        display: inline-block;
    }

    #about-title {
        font-size: 35px;
    }

    #mydesc {
        font-size: 15px;
    }

    #meimg {
        height: 200px;
        width: 200px
    }

    #technologyword {
        font-size: 30px;
    }

    #reactpic {
        width: 160px;
        height: 130px;
    }

    #pythonpic {
        width: 110px;
        height: 110px
    }

    #jspic {
        width: 130px;
        height: 125px
    }

    #firebasepic {
        width: 125px;
        height: 135px
    }

    #nodepic {
        width: 130px;
        height: 135px
    }

    .technologyabout {
        height: 400px;
    }
}

@media (max-width: 660px) {
    #Layer_1 {
        width: 250px;
        height: 250px
    }

    .left-side {
        width: 50%;

        padding-top: 0vh;
        padding-left: 5vw;
        display: inline-block;
    }

    .right-side {
        width: 20%;
        padding-top: 0vh;
        padding-right: 10vw;
        padding-left: 14vw;
        display: inline-block;
    }

    #about-title {
        font-size: 25px;
    }

    #mydesc {
        font-size: 10px;
    }

    #meimg {
        height: 150px;
        width: 150px;
    }

    #technologyword {
        font-size: 20px;
    }

    #reactpic {
        width: 95px;
        height: 80px;
    }

    #pythonpic {
        width: 65px;
        height: 65px
    }

    #jspic {
        width: 80px;
        height: 75px
    }

    #firebasepic {
        width: 70px;
        height: 80px
    }

    #nodepic {
        width: 65px;
        height: 75px
    }

    .technologyabout {
        height: 400px;
    }
}

@media (max-width: 380px) {
    #Layer_1 {
        width: 250px;
        height: 250px
    }

    .left-side {
        width: 40%;

        padding-top: 0vh;
        padding-left: 5vw;
        display: inline-block;
    }

    .right-side {
        width: 30%;
        padding-top: 0vh;
        padding-right: 10vw;
        display: inline-block;
    }

    #about-title {
        font-size: 25px;
    }

    #mydesc {
        font-size: 10px;
    }

    #meimg {
        height: 150px;
        width: 150px;
    }

    #technologyword {
        font-size: 15px;
    }

    #reactpic {
        width: 75px;
        height: 60px;
    }

    #pythonpic {
        width: 45px;
        height: 45px
    }

    #jspic {
        width: 50px;
        height: 45px
    }

    #firebasepic {
        width: 40px;
        height: 50px
    }

    #nodepic {
        width: 45px;
        height: 55px
    }

    .technologyabout {
        height: 400px;
    }
}